# Virtual environment
env/

# Compiled Python files
*.pyc
__pycache__/

# Environment variables file
src/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Local development files
.DS_Store
.dockerignore

